:root {
  font-size: 18px;
  --white10: #3A3539;
  --white20: #A5A3A5;
  --white30: white;
  --white40: #251F24;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background-color: var(--white40);
  margin: 0;
}

a {
  color: var(--white20);
}

.header-content {
  padding-inline: 20px;
}

header {
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--white30);
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header li {
  margin-block-end: 16px;
}

header a:hover {
  color: var(--white20);
}

footer {
  block-size: 174px;
  width: 100%;
  background-color: var(--white30);
  color: var(--white40);
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav details summary {
  font-weight: bold;
}

summary {
  cursor: pointer;
  outline: 0;
}

h1 {
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
}

h2 {
  font-size: 32px;
  margin-block: 40px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-block: 16px;
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}

pre {
  background-color: var(--white10);
  padding-inline: 40px;
  padding-block: 40px;
  overflow: auto;
  border: 8px solid #5551FF;
  box-shadow: -10px 10px 0 0 #ABAAF6;
  margin-block-end: 30px;
  border-start-start-radius: 10px;
}

p {
  color: var(--white20);
}

.hero {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  block-size: 50px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content img {
  display: block;
  margin-block-start: 40px;
  max-inline-size: 100%;
}

blockquote {
  margin-block-start: 80px;
  margin-block-end: 63px;
  background-color: var(--white10);
  border-radius: 8px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
  line-height: 32px;
  font-size: 24px;
}

blockquote p {
  color: var(--white30);
}

.main hr {
  display: none;
}

.wrapper {
  max-inline-size: 902px;
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}

.slider-container {
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  border: 2px solid white;
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color: white;
  border-radius: 50%;
}

.slider-bullet-list a:hover {
  background-color: red;
}

.form input {
  inline-size: 100%;
  box-sizing: border-box;
  border: 1px solid var(--white30);
  background-color: var(--white40);
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input[type="submit"] {
  background-color: #157EFB;
  border: none;
}

.form input::placeholder {
  color: var(--white20);
}

@media screen and (min-width: 1366px) {
  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }

  header {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
  }

  .hero {
    block-size: 350px;
  }

  h1 {
    font-size: 60px;
    margin-block-start: 64px;
    margin-block-end: 16px;
  }

  .nav-variants {
    margin-block: -20px 104px;
  }
}