@font-face {
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 18px;
  --white10: #3A3539;
  --white20: #A5A3A5;
  --white30: white;
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background: #251F24;
}

a {
  color: var(--white20);
}

header {
  font-size: 14px;
  color: var(--white30);
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white20);
}

nav details summary {
  font-weight: bold;
}

summary {
  cursor: pointer;
  outline: 0;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

pre {
  background-color: var(--white10);
}

p {
  color: var(--white20);
}

.hero {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  height: 350px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
}
